.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 100vh;
    background-color: #ffe6f4;;

}
.container {
    background: #d3deff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 60%;
    border: 1px solid;
    border-radius: 5px;
    height: 350px;
}
.username, .password {
    padding: 10px;
    border-radius: 5px;
}
.login{
    padding: 5px;
    width: 20%;
    height: 35px;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}
@media only screen and (max-width: 426px) { 
    .login{
        padding: 5px;
        width: 30%;
        height: 35px;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            background: rgb(93, 92, 92);
            color: white;
        }
    }
}