.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    height: 405px;
    flex-direction: column;
}
.return {
    background: #f0f0f0;
    text-align: center;
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 6rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    text-align: center;
    align-items: center;
    margin: auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
}

.cutomer, .stock {
    width: 30%;
    border: 1px solid black;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}