.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}

.container {
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

table.table {
    width: 80%;
}

.table {
    display: table;
}


.category {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 80%;
    top: 20px;
}

.option_list {
    display: block;
    list-style-type: none;
}

.option_list li {
    display: inline-block;
}

.stock,
.type,
.price {
    text-align: center;
    width: 100%;
    border: none;
    font-weight: 500;
}

.function {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.return {
    margin-bottom: 20px;
    background: #f0f0f0;
    text-align: center;
    width: 70px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 6rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}

@media only screen and (max-width: 426px) {
    .return {
        background: #f0f0f0;
        text-align: center;
        width: 70px;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 20px;
    }

}

