.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: aquamarine;
    height: 50px;
}
.container_header_user {
    float: right;
    display: flex;
    margin-right: 30px;
}
.container_header_user button {
    margin-left: 10px
}
.container_header_user_button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.logo {
    margin: unset;
    margin-left: 20px;
}