.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 15px;
    height: 50vh;
}
.container {
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: auto;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
}

.return {
    height: 30px;
    margin-bottom: 20px;
    background: #f0f0f0;
    text-align: center;
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 6rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}

.export {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.export_function {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.export_function select,
.export_function input {
    height: 30px;
    width: 70%;
    margin: 0 10px;
}

.submit {
    margin-bottom: 20px;
    background: #f0f0f0;
    text-align: center;
    width: 25%;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}

.export_request {
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    box-sizing: border-box;
    margin: 20px;
}

@media only screen and (max-width: 426px) {
    .wrapper {
        flex-direction: column;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .export_request {
        flex: 1 1;
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        margin-top: 20px;
        border-top: 1px solid;
    }

    .return {
        background: #f0f0f0;
        text-align: center;
        width: 70px;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 20px;
    }
    .export_function {
        flex-direction: column;
    }
    .export_function select,
    .export_function input {
        height: 30px;
        width: 80%;
        margin: 10px 0;
    }
    .submit {
        background: #f0f0f0;
        text-align: center;
        width: 50%;
        padding: 7px;
        border: 2px solid black;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            background: rgb(93, 92, 92);
            color: white;
        }
    }
}
