.wrapper {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
}

.container {
    max-height: 335px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 70%;
    align-items: start;
    margin: auto;
}

.button {
    text-align: center;
    display: block;
    width: 60%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}
.function {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort_filter {
    display: flex;
    flex-direction: row;
}

.return {
    background: #f0f0f0;
    text-align: center;
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 6rem;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        background: rgb(93, 92, 92);
        color: white;
    }
}

@media only screen and (max-width: 426px) {
    .return {
        background: #f0f0f0;
        text-align: center;
        width: 70px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
        margin-left: 20px;
    }
    .button {
        display: flex;
        align-items: center;
        min-height: 90px;
        margin: 10px;
        padding: 20px;
        width: 90%;
        border-radius: 5px;
        border: 1px solid;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            background: rgb(93, 92, 92);
            color: white;
        }
    }

}

