.wrapper {
    width: 100%;
}

.content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.icon {
    border: none;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}